<div class="container">
<%= simple_form_for [@cocktail, @dose] do |f| %>
  <%= f.association :ingredient, collection: Ingredient.all.order('name ASC') %>
  <%= f.input :description %>
  <%= f.submit "add the new recipe", class: "btn btn-primary" %>
<% end %>
</div>
